@import "./reuse/globalVariables";
@import "./reuse/mixins";
@import "./reuse/extend";
@import "./reuse/tipografija";
@import "./reuse/utils";

@import "./navigation/navigation";
@import "./contactBar/contactBar";
@import "./storitve/storitve";
@import "./rešitve/rešitve";
@import "./rešitve/rešitveLayout";
@import "./predstavitev/predstavitev";
@import "./ZakajNas/ZakajNas";
@import "./zaupanje/zaupanje";
@import "./footer/footer";
@import "./footer/pravnoObvestilo";
@import "./footer/politikaZasebnosti";
@import "./hero/hero";

// global style
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: rgba($textColor, 0.1);
}

#header,
#contactBar,
#main,
#kontakt {
  max-width: 120rem;
  margin: 0 auto;
}

.live-call {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 150px;
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  outline: 3px solid $secundaryColor;

  &--text {
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &--help {
    font-size: 1.9rem;
  }

  i.fas.fa-link {
    font-size: 3rem;
  }
}

.live-call:hover {
  outline-offset: 2px;
  outline: 4px solid $secundaryColor;
}
