.storitve {
  color: $textColor;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem 0;

  &__svetovanje,
  &__vzdr탑evanje,
  &__realizacija {
    display: flex;
    padding: 1rem;
  }

  &__vzdr탑evanje {
    background-color: #f7f7f7;
  }

  &__iconBorder {
    @include centering;
    width: 10rem;
    height: 10rem;
    border: 1px solid $secundaryColor;
    border-radius: 1rem;
    background-color: white;

    &--icon {
      font-size: 7rem;
      color: $primaryColor;
      padding: 2rem;
    }
  }

  &__desc {
    margin-left: 1rem;

    &--heading {
      font-size: 1.7rem;
    }

    &--text {
      display: block;
      font-weight: 400;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .storitve__svetovanje,
  .storitve__vzdr탑evanje,
  .storitve__realizacija {
    flex-direction: column;
    align-items: center;
  }
  .storitve__desc--heading {
    margin-top: 1rem;
    text-align: center;
  }
  .storitve__desc--text {
    text-align: center;
  }
}

@media screen and (min-width: 650px) {
  .storitve__layout {
    display: flex;
    flex-direction: row;
  }
  .storitve__svetovanje,
  .storitve__vzdr탑evanje,
  .storitve__realizacija {
    flex-direction: column;
    align-items: center;
  }
  .storitve__desc--heading {
    margin-top: 1rem;
    text-align: center;
  }
  .storitve__desc--text {
    text-align: center;
  }
}
