.rešitve {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 2rem 0;

  &__celota {
    position: relative;
    height: 5vh;
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
    border-left: 0.5rem solid $primaryColor;

    &--icon {
      margin: 0 1.5rem;
      font-size: 2rem;
      color: $primaryColor;
    }

    &--text {
      font-size: 1.7rem;
    }

    &--text:hover {
      border-bottom: 2px solid $primaryColor;
      cursor: pointer;
    }

    &--dropDownArrowBorder {
      @include dropDownArrowBorder;
    }

    &--dropDownArrowBorder:hover {
      cursor: pointer;
    }

    &--arrow {
      @include dropDownArrow($primaryColor);
    }
  }
}

.rešitve__celota--content {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: $lightGrey;
  border-radius: 1rem;
  width: 90%;
  opacity: 0;
  transform-origin: top;
  transition: opacity 0.4s linear;
  margin: 0 auto;
}

.rešitve__celota--textContent {
  color: black;
  text-align: left;
  padding: 2rem;
}

.wifi {
  font-size: 1.7rem;
}

.add {
  transition: all 0.4s linear;
  height: auto;
  opacity: 1;
  margin: 2rem;
}

.rotateArrow {
  transform: rotate(-90deg);
}

.rotateArrowOpen {
  transform: rotate(90deg);
}

.textHidden {
  @include hiddingText;
}

@media (min-width: 700px) {
  .rešitve__celota--dropDownArrowBorder {
    display: none;
  }
}
